
@media screen and (max-width: 700px) {
    nav .LogoMarca{min-width: 20%;}
}
.ButtonOpenMenu{
    display:none ;
}
nav .LogoMarca{min-width: 20%;}
nav .Direcionais{
    position: relative;
    display: contents !important;
    height: 100%;
    margin:0;
    width: 100%;
    z-index: 3;
}
nav .Direcionais .SpanDirecional{
    height: calc(100% - 20px);
    width: fit-content;
    margin: 5px 5px 10px 5px;
    padding: 5px;
}
.Usuario button{height:50px;width:100px;}
.Usuario button img{display: none;}
.Usuario button span{display: inline;}

footer .LogoMarca img{
    width: 40%;
    margin-bottom: 20px;
}

@media screen and (min-width: 750px) {
    footer .RedesSociais{
        justify-content: center;
        margin: 0px 5px 0 0;
    }
    footer a{
        margin: 0px 5px 0 5px;
    }
}