*{margin: 0;padding: 0;}
@font-face {
    font-family: "KdamThmorPro";
    src: url("/HTML_CATALOGO_SIMPLES/FONTS/KdamThmorPro-Regular.ttf") format("truetype");
}

label{font-weight: bold;}

:root{
    --NavBar:rgb(97, 108, 97);
    --BotaoNavBar:rgb(125,125,125);
    --Card:rgb(200,180,180);
    --BorderCard:rgb(180,160,160);
    --MenuCelular:rgb(0,0,0,.9);
    --ButtonOpenMenu:rgb(0,0,0);
    --CorDeFundo:#ffffff;
}
html{
    scroll-behavior: smooth;
}
body{
    width: 100vw;
    height: 100vh;
    background-color: var(--CorDeFundo);
}

/* NAVBAR */
nav{
    width: 100%;
    height: 50px;
    background-color:var(--NavBar);
    display: flex;
}
nav .LogoMarca{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ButtonOpenMenu{
    display:none ;
    content: attr(value=false);
}
/* NAV DIRECIONAIS */

nav .Direcionais .SpanDirecional{
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    width: fit-content;
    background-color: rgb(255,255,255,.125);
}

/* NAV LOGIN/REGISTER BUTTON */
nav .Usuario{
    height: 100%;
    min-width: 10%;
}
nav .LogoMarca img{height: 100%;}
.Usuario button span{
    padding: 10px;
    background: linear-gradient(122deg,
        rgba(91,82,255,1) 0%,
        rgba(219,75,211,1) 25%,
        rgba(236,41,41,1) 50%,
        rgba(255,176,64,1) 75%,
        rgba(255,248,0,1) 100%
    );
    border-radius: 10px;
}
.Usuario button{
    height:40px;
    width:100px;
    margin: 5px 5px 10px 5px;
    padding: 5px;
    background-color: rgb(255,255,255,.125);
    border-radius: 10px;
}
.Usuario button img{
    width: 40px !important;
    height: 40px !important;
}

/* CATALOGO */
body::-webkit-scrollbar{width: 0px}
.Catalogo{
    display: flex;
    flex-wrap: wrap;
}
/* MARCADOR */
.MarkerCatalogo{
    display: flex;
    flex-direction: column;
    margin: 20px 10px 10px 10px;
    border: 1px solid black;
    width: 100%;
}
.MarkerCatalogo .TextoMarcador{
    position: relative;
    height: 20px;
    width: fit-content;
    top: -12.5px;
    left: 10px;
    padding: 0 10px;
    color: black;
    font-family: math;
    background-color: var(--CorDeFundo);
}
.MarkerCatalogo > div{
    display: flex;
    flex-wrap: wrap;
}
.MarkerCatalogo div::-webkit-scrollbar{
    width: 5px;
}
/* CARD */

.card{
    margin: 5px 0px 5px 7px;
    padding: 5px;
    background-color: white;
    box-shadow: 1px 1px 8px rgb(0,0,0,.5);
    width: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
}
.card img{width: 150px;height: 150px;}
.card img ~ .TextoSeNaoImg{display: none;}
.card .TextoSeNaoImg{
    width: 150px;
    height: 150px;
    border: 1px dashed gray;
    text-align: center;
}
.card .Valor{
    color: green;
    font-family: cursive;
}
.card .DescontoQuant{
    color: green;
    font-size: 75%;
    font-family: cursive;
}
.card .Promocao{
    color: green;
    font-family: cursive;
}
.card .Promocao ~ .Valor{
    color: rgb(128, 0, 0);
    font-size: 75%;
    font-family: cursive;
}
.card .Promocao ~ .Valor::after{
    content: "";
    position: relative;
    display: flex;
    bottom: 8.5px;
    width: 25px;
    height: 2px;
    background-color: red;
    transform: rotate(10deg);
}
.card button{
    width: 75%;
    border: 0;
    border-radius: 10px;
    font-weight: bold;
    color: wheat;
    padding: 3px;
    background-color: blue;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    height: 150px;
}
footer .DadosLoja{
    display: flex;
    margin-top: 5px;
    height: calc(100% - 30px);
}
footer .LogoMarca,footer .RedesSociais,footer .OutrosDados {
    width: 33.333%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
}
footer .LogoMarca img{
    width: calc(50% - 40px);
    margin-bottom: 20px;
}
footer .RedesSociais *{
    border-radius: 10px;
    display: flex;
}
footer .RedesSociais a img{
    width: 50px;
    height: 50px;
    filter:contrast(0%);
}
footer .RedesSociais .Face{
    background: linear-gradient(134deg,
        rgba(1,82,180,1) 0%,
        rgba(0,20,65,1) 100%
    );
}
footer .RedesSociais .Insta{
    background: linear-gradient(122deg,
        rgba(91,82,255,1) 0%,
        rgba(219,75,211,1) 25%,
        rgba(236,41,41,1) 50%,
        rgba(255,176,64,1) 75%,
        rgba(255,248,0,1) 100%
    );

}
footer .RedesSociais .Zap{
    background: linear-gradient(134deg,
        rgb(131,200,118) 0%,
        rgba(0,65,11,1) 100%
    );
}
